// CSS resets
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html{
  background: #414141 url("../images/dash_bg.png") repeat-x;
  font-family: trebuchet,Arial;
}

.clear{
  clear:both;
}

.header-wrapper{
  height: 100px;
  background: #171717;// url("../images/header_bar_tile.png") repeat-x;
  width: 100%;
}

.header,.content,.cookie-crumbs{
  width: 732px;
  margin: 0 auto;
  padding: 0px 64px;
}
.header .logo a{
  float: left;
  padding: 42px 0px 38px 0px;
  display: block;
}

.header .tabs{
  float: right;
}
.header .tabs img{
  line-height: 100px;
  padding-top: 30px;
}

.cookie-crumbs-wrapper{
  border-bottom: thin solid #3f3f3f;
  background: #0E0E0E url("../images/cookie-crumbs-bg.png") repeat-x;
  height: 40px;
}
.cookie-crumbs{
  height: 40px;
  line-height: 40px;
  color: #afafaf;
  font-size: 12px;
}

.cookie-crumbs span{
}

.cookie-crumbs a{
  color: #afafaf;
  text-decoration: none;
}
.cookie-crumbs a:hover{
  text-decoration: underline;
}

.sub-header{
  padding: 40px 0px 0px 0px; 
}
.sub-header h1{
  color: white;
  font-size: 28px;
}
.sub-header h2{
  color: #DA6323;
  font-size: 15px;
}

.sub-header .logo{
  float: left;
  margin-right: 14px;
}

.sub-header a{
  float: right;
}

.content{
  background: #0A0A0A;
}

.example{
  width: 732px;
}

.note{
  float: right;
}

.note a{
  color: #DA6323;
}

.examples p{
  color: #efefef;
  margin:10px 0px 10px 0px;
  line-height: 20px; 
}

.example .wrapper{
}

.example:hover{
  cursor: pointer;
}

.example .logo{
  border: 2px solid black;
}

.example:hover .logo{
  border: 2px solid #afafaf;
}

.example:hover .wrapper{
  background: #1f1f1f;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-bottom-top-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.example h1{
  color: white;
  font-size: 26px;
}
.example p{
  color: #afafaf;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px;
}
a.example{
  text-decoration: none;
}

.example .logo{
  margin-right: 36px;
  float: left;
}
.example .example-info{
  width: 412px;
  float: left;
  padding: 10px 0px 0px 0px;
}

.footer{
  width: 796px;
  height: 40px;
  background: #1D1D1D;
  margin: 0 auto;
  padding-left: 64px;
  
}

.footer .tabs{
  width: 506px;
  height: 40px;
  float: left;
}

.footer .tabs a{
  line-height: 40px;
  text-decoration: none;
  color: #737373;
  font-size: 12px;
  padding-right: 3px;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
}

.footer .tabs a.current{
  color: white;
}
.footer .tabs a:hover{
  text-decoration: underline;
}

.footer .copyright{
  width: 290px;
  float: right;
  background: #606060;
  color: #A9A9A9;
  font-size: 11px;
  line-height: 40px;
  text-align: center;
  text-shadow: 0px 1px 2px #3f3f3f;
}

.sdks{
}
.sdk{
  float: left;
  width: 236px;
  height: 340px;
  margin-left: 9px;
  display: block;
  text-decoration: none;
}

.sdk .logo{
  opacity: 0.8;
  border: 2px solid black;
}

.sdk:hover .logo{
  opacity: 1.0;
  border: 2px solid #cfcfcf;
  padding-bottom: 0px;
}
.sdk div{
  margin-top:-2px;
  padding-bottom: 20px;
}
.sdk:hover div{
  background: #191919;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.sdk h1{
  color: white;
  font-size: 24px;
  padding-top: 25px;
  margin: 0 10px;
}

.sdk p{
  color: #9f9f9f;
  font-size: 11px;
  line-height: 16px;
  margin: 15px 10px 22px 10px;
}
.sdk div img{
  padding-left: 10px;
}

.sdks .first{
  margin-left: 0px;
}

.separator{
  display:block;
  clear:both;
  padding: 25px 0px;
}

.demo iframe{
  border: thin solid grey;
  width: 721px;
  height: 400px;
}
.demo p,.demo h1{
  color: white;
}
.demo p{
  margin-bottom: 15px;
}

.demo .download{
  margin: 0px;
}

.demo h1{
  font-size: 24px;
  margin: 10px 0px;
}

.sdk-intro{
  
}

.sdk-intro h1,.section-header{
  color: white;
  padding: 0px 0px 0px 0px;
  position: relative;
  top: 10px;
  font-size: 32px;
  clear: both;
}

.section-header{
  padding-bottom: 20px;
}

.sdk-intro h2{
}

.sdk-intro p{
  color: #efefef;
  margin:10px 0px 10px 0px;
  line-height: 20px; 
}
.sdk-intro a{
  color: #DA6323;
  font-size: 98%;
}

.sdk-intro .download,.demo .download{
  width: 211px;
  height: 22px;
  line-height: 22px;
  background: #B54C1D;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
  display: block;
  float: left;
  margin: 0px 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px #3f3f3f;
  -moz-box-shadow: 0px 2px 4px #3f3f3f;
  box-shadow: 0px 2px 4px #3f3f3f;
background: #fd7701; /* Old browsers */
background: -moz-linear-gradient(top, #fd7701 0%, #b13e03 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7701), color-stop(100%,#b13e03)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fd7701 0%,#b13e03 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fd7701 0%,#b13e03 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fd7701 0%,#b13e03 100%); /* IE10+ */
background: linear-gradient(top, #fd7701 0%,#b13e03 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7701', endColorstr='#b13e03',GradientType=0 ); /* IE6-9 */
}
.download:hover,.demo .download:hover{
  background: #ff9035; /* Old browsers */
  background: -moz-linear-gradient(top, #ff9035 0%, #f85504 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9035), color-stop(100%,#f85504)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff9035 0%,#f85504 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff9035 0%,#f85504 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff9035 0%,#f85504 100%); /* IE10+ */
  background: linear-gradient(top, #ff9035 0%,#f85504 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9035', endColorstr='#f85504',GradientType=0 ); /* IE6-9 */
}

.download img{
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.sdk-signin-required form input{
  display: block;
}