<html>
<head>
  <title>Layouts - HTML5 SDK for Brass Monkey</title>
  
    <!--  Include development implementation of Brass Monkey. 
        RECOMMENDED: Use the minified brassmonkey.min.js when deploying. -->
  <script language="javascript" type="text/javascript" src="../../src/core.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/base64.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/resources.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/device.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/detect.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/flash/swfobject.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/flash/flash.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/websockets/registry.js" ></script>
  <script language="javascript" type="text/javascript" src="../../src/websockets/websockets.js" ></script>
  
  <script>
    bm.start({
    	name: "Layouts - SDK Examples",
      maxPlayers:1,
      appId:"62e822bc0e6b9f22fc158763591845be",
      swfURL:"../../src/swf/bin/brassmonkey.swf",
      design: {
        orientation: "portrait",
        touchEnabled: false,
        accelerometerEnabled: false,
        images:[
          '../shared/background.png',
          'bananas.png',
          'pineapple.png',
          'watermelon.png'
        ],
        layout:[{
          type:   "image",
          image:  0,
          x:      0,
          y:      0,
          width:  320,
          height: 480
        },{
          type:   "image",
          image:  1,
          x:      9,
          y:      16,
          width:  128,
          height: 128
        },{
          type:   "image",
          image:  2,
          x:      110,
          y:      170,
          width:  128,
          height: 128
        },{
          type:   "image",
          image:  3,
          x:      181,
          y:      336,
          width:  128,
          height: 128
        }]
      }
    });
        
    bm.on('showslotcolor',function(e){
      document.getElementById('slot-color').style.background = e.color;
    });

  </script>
</head>
<body style="margin:0px;background:white;">
  <div id="slot-color" style="width:100px;height:100px;text-align:center;line-height:100px;font-family:Arial;">Slot Color</div>
</body>
</html>

