body{
  margin:0px;
  background: #1f1f1f;
  font-family: Arial;
}
#video-container{
}
#search-container{
  width: 602px;
  margin: 0px auto;
}

#search-box{
  width: 400px;
  margin: 0px auto;  
  padding: 20px;
  background: #1f1f1f;
}
#search-box img{
  margin-top: 2px;
  height: 44px;
}
#search{
  float: left;
  width: 349px;
  line-height: 26px;
  font-size: 32px;

}
#search-results{
  
}
.search-result-item{
  background: white;
  height: 110px;
  width: 600px;
  border: thin solid grey;
}
.current{
  background: #cfcfef;
}
.search-result-item h1{
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}
.search-result-item h1 a{
  text-decoration: none;
}
.search-result-item p{
  margin: 0px;
}
.search-result-item .views{
  position: absolute;
  font-weight: bold;
  margin-top: 85px;
}

.thumbnail-container{
  float: left;
  width: 118px;
  height: 90px;
  padding: 10px;
}
.info-container{
  float: left;
  width: 455px;
  padding-left: 5px;
  height: 105px;
}