body{ 
  margin:0px;
  background:black;

}

#slot{
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 8px;
  color: red;
}

#container{
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#source{
  margin: 8px 0px 0px 34px;
  color: blue;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  position: absolute;

}