// CSS resets
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html{
  background: #414141 url("/images/landing/dash_bg.png") repeat-x;
  font-family: trebuchet,Arial;
}

.header-wrapper{
  height: 100px;
  background: #171717 url("/images/landing/header_bar_tile.png") repeat-x;
  width: 100%;
}

.header,.content,.cookie-crumbs{
  width: 732px;
  margin: 0 auto;
  padding: 0px 64px;
}
.header .logo a{
  float: left;
  padding: 42px 0px;
  display: block;
}

.header .tabs{
  float: right;
}
.header .tabs img{
  line-height: 100px;
  padding-top: 30px;
}

.cookie-crumbs-wrapper{
  border-bottom: thin solid #3f3f3f;
  background: #0E0E0E url("../images/cookie-crumbs-bg.png") repeat-x;
  height: 40px;
}
.cookie-crumbs{
  height: 40px;
  line-height: 40px;
  color: #afafaf;
  font-size: 15px;
}

.sub-header{
  padding: 40px 0px 20px 0px;
  
}
.sub-header h1{
  color: white;
  font-size: 28px;
}
.sub-header h2{
  color: #EB5900;
  font-size: 14px;
}

.content{
  background: #0A0A0A;
  padding-bottom: 40px;
}

.footer{
  width: 796px;
  height: 40px;
  background: #1D1D1D;
  margin: 0 auto;
  padding-left: 64px;
  
}

.footer .tabs{
  width: 506px;
  height: 40px;
  float: left;
}

.footer .tabs a{
  line-height: 40px;
  text-decoration: none;
  color: #737373;
  font-size: 12px;
  padding-right: 3px;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
}

.footer .tabs a.current{
  color: white;
}
.footer .tabs a:hover{
  text-decoration: underline;
}

.footer .copyright{
  width: 290px;
  float: right;
  background: #606060;
  color: #A9A9A9;
  font-size: 11px;
  line-height: 40px;
  text-align: center;
  text-shadow: 0px 1px 2px #3f3f3f;
}

.sdks{
  padding-top: 25px;
}
.sdk{
  float: left;
  width: 236px;
  height: 360px;
  margin-left: 8px;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}

.sdk .logo{
  opacity: 0.8;
  padding-bottom:2px;
}

.sdk:hover .logo{
  opacity: 1.0;
  border: 2px dashed #cfcfcf;
  margin-top: -2px;
  margin-left: -2px;
  padding-bottom: 0px;
}
.sdk:hover div{
  background: #191919;
  width: 231px;
  padding-bottom: 20px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.sdk h1{
  color: white;
  font-size: 24px;
  padding-top: 25px;
  margin: 0 10px;
}

.sdk p{
  color: #9f9f9f;
  font-size: 11px;
  line-height: 16px;
  margin: 15px 10px 22px 10px;
}
.sdk div img{
  padding-left: 10px;
}

.sdks .first{
  margin-left: 0px;
}

.separator{
  display:block;
}